<h1>Listing Users (why would I do that)</h1>

<%= link_to 'New User', new_user_path %>

<table>
	<tr>
		<th>Login Name</th>
		<th>Email</th>
	</tr>

	<% @users.each do |user| %>
		<tr>
			<td><%= user.login %></td>
			<td><%= user.email %></td>
		</tr>
	<% end %>
</table>
